{% extends "base.html" %}

{% block content %}

<div class="searchcard">
    <h1> Create Event </h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <table>
            <tr>
                <td><label for="event_name">Event Name</label></td>
                <td><input type="text" name="event_name" id="event_name" required></td>
            </tr>

            <tr>
                <td><label for="event_code">Event Code</label></td>
                <td><input type="text" name="event_code" id="event_code" required></td>
            </tr>

            <tr>
                <td><label for="dj">DJ Username</label></td>
                <td><input type="text" name="dj" id="dj required"></td>
            </tr>
            <tr>
                <td><label for="event_location">Event Location</label></td>
                <td><input type="text" name="event_location" id="event_location" required></td>
            </tr>

            <tr>
                <td><label for="event_description">Event Description</label></td>
                <td><input type="text" name="event_description" id="event_description" required></td>
            </tr>

            <tr>
                <td colspan="2" class="centretext"><input type="submit" value="Create Event"></td>
            </tr>
        </table>


    </form>
</div>

{% endblock %}