{% extends "base.html" %}

{% block content %}
<h1 class="heading">Hi, {{ current_user.username}}!</h1>
<div class="row">
    <div class="column equal">
        <div class="favouritecard">

            <h2>Recent Favourite</h2>
            <hr>
            {% if recent_fave %}
                {% if song.strTrackThumb %}
                    <img width="20%" src="{{ song.strTrackThumb }}" alt="Album Art">
                {% else %}
                    <img width="20%" src="{{url_for('static', filename='images/album.png')}}" alt="Album Art">
                {% endif %}
                <p>{{fave_name}} by {{fave_artist}}</p>
            {% else %}
            <p>Please add your favourites!</p>
            {% endif %}
        </div>


    </div>

    <div class="column equal">
        <div class="favouritecard">
            <h2>Current Event</h2>
            <hr>
            {% if status == 1 %}
            <h3>You are at {{event_name}}</h3>
            <p>Invite others to join with the code <strong>{{event_code}}</strong></p>
            {% else %}
            <p>You are not in an event. <a class="link" href="{{url_for('join_event')}}">Join an event</a> or create one!</p>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
