{% extends "base.html"%}
{% block body_class %}registerbackground{% endblock %}
{% block content %}
<div class="login">

  <div class="row">
    <div class="column loginleft">
    <h1>Welcome to Northside DJs</h1>
    <p>Northside DJs is a web application that allows users to create and join events, and add songs to a playlist for the event. </p>

    </div>
    <div class="column loginright">

      <h1> Sign In</h1>

        <form action="" method="post" novalidate>
        {{form.hidden_tag()}}

        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <label for="remember_me">Remember Me</label>
        <input type="checkbox" name="remember_me" id="remember_me">
        <br>
        <br>
        <input type="submit" value="Sign In">
      </form>



    </div>
  </div>

</div>


{% endblock %}
