{% extends "base.html" %}

{% block content %}
<div class="centre">
  <h1>{{current_user.username}}'s Events</h1>
  {% if events %}
    <a class="link" href="{{url_for('create_event')}}">Create Event</a>
  {% else %}
    <a class="link glows" href="{{url_for('create_event')}}">Create Event</a>
    {% endif %}
  <br>
<table>
  <tr>
    <th>Event Name</th>
    <th>Event Code</th>
    <th>Update Status</th>
    <th>Delete Event</th>

  </tr>
    {% if events %}
      {% for event in events %}
      <tr>
        <td>{{event.event_name}}</td>
        <td>{{event.event_code}}</td>

        <td>
          <form method="post" action="{{url_for('event_status', event_id=event.event_id)}}">
            <input type="hidden" name="_method" value="post">

            {% if event.active_status == 0 %}
              <input type="submit" value="Begin Event">
              <a href="/static/history/{{event.event_name}}.txt" download><i class="fa-solid fa-file-arrow-down" style="color:white;"></i></a>
            {% else %}
              <input type="submit" value="End Event">

            {% endif %}
          </form>
        </td>

        <td>
          <form method="post" action="{{url_for('delete_event', event_id=event.event_id)}}">
            <input type="hidden" name="_method" value="post">
            <input type="submit" value="Delete Event">
          </form>
        </td>

      </tr>
      {% endfor %}
  {% else %}
    <tr>
      <td colspan="4">You have not created any events. Create an event <a class="link highlight" href="{{url_for('create_event')}}">here!</a></td>
    </tr>
  {% endif %}

</table>
</div>

{% endblock %}