{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="column profileleft">

    <div class="profilecard">
      <div class="row">
        <div class="column left">
          <div class="container">
            {% if user.pfp %}
              {% if user == current_user %}
                <img src="{{url_for('static', filename='uploads/' + user.pfp)}}" onclick="location.href='{{ url_for('upload_pfp') }}'" alt="profile picture">
                <div class="overlay">Upload Image</div>
              {% else %}
                <div class="nohover">
                  <img src="{{url_for('static', filename='uploads/' + user.pfp)}}" alt="profile picture">
                </div>

              {% endif %}
            {% else %}
              {% if user == current_user %}
                <img src="/static/images/defaultpfp.png" onclick="location.href='{{ url_for('upload_pfp') }}'" alt="profile picture">
                <div class="overlay">Upload Image</div>
              {% else %}
              <div class="nohover">
                  <img src="/static/images/defaultpfp.png" alt="profile picture">
              </div>
              {% endif %}
            {% endif %}
          </div>
          {% if user == current_user %}
            <a href="{{url_for('edit_profile')}}" id="edit-profile">Edit Profile</a>
          {% endif %}
        </div>

        <div class="column right">
          <h1>{{ user.username}}</h1>
          <p>{{ user.email }}</p>
          {% if user.in_event == 1 %}
            <p>Current Event:
              {% for event_user in event_users %}
                {{event_user.event.event_name}}
                {% endfor %}</p>
              {% if user == current_user %}
                <a href="{{url_for('leave_event')}}">Leave Event</a>
              {% endif %}

          {% endif %}
        </div>
      </div>

      <div class="centre">
        {% if user.about_me %}
          <p>{{ user.about_me }}</p>
        {% else %}
            {% if user == current_user %}
              <p>Add something about yourself! <a href="{{url_for('edit_profile')}}">Edit Profile</a></p>
            {% else %}
              <p>No bio yet</p>
            {% endif %}
        {% endif %}
      </div>
    </div>


  </div>

  <div class="column profileright">

    {% if user==current_user %}

      <a href="{{url_for('create_event')}}"><i class="fa-solid fa-calendar-plus"></i>       Create Event</a>

      <a href="{{url_for('my_favourites')}}"><i class="fa-solid fa-heart"></i>       My Favourites</a>
      <a href="{{url_for('my_events')}}"><i class="fa-solid fa-calendar-days"></i>       My Events</a>

    {% else %}
    <h1>Favourites</h1>
    <table>
      <tr>
        <th>Song</th>
        <th>Artist</th>
      </tr>
      {% if favourites %}
        {% for song in favourites %}
          <tr>
              <td>{{ song.song_name }}</td>
              <td>{{ song.artist_name }}</td>
          </tr>
        {% endfor %}
    {% else %}
      <tr>
        <td>No favourites yet</td>
      </tr>
    {% endif %}
    </table>

    {% endif %}
  </div>
</div>








{% endblock %}
